body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Content layout styles */
#content {
  flex: none;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  padding: 0.5em 1em 5em 1em;
  box-sizing: border-box;
  column-width: calc(90vw - 2em);
  /* Adjusted for padding */
  column-gap: 1.5em;
  column-fill: auto;
  scroll-snap-type: x mandatory;
}

.hidden {
  display: none !important;
}