/* General styles */
html, body {
  background-color: white;
  font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
  font-size: 16pt;
  margin: 0;
  padding: 0;
}

/* Removed body layout styles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  page-break-after: avoid;
  page-break-inside: avoid;
}

#content {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

img {
  max-width: 100%;
  height: auto;
}